In [1]:
import pandas as pd

In [2]:
from Univariate import Univariate

IndentationError: unindent does not match any outer indentation level (Univariate.py, line 13)

In [3]:
dataset=pd.read_csv("Placement.csv")

In [4]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [5]:
quan,qual=Univariate.quanqual(dataset)

NameError: name 'Univariate' is not defined

In [ ]:
quan

In [ ]:
qual

In [6]:
dataset=pd.DataFrame(dataset)

In [7]:
def calculate_statistics(column):
    Q1=dataset[column].quantile(0.25)
    Q3=dataset[column].quantile(0.75)
    IQR=Q3-Q1
    lower_bound=Q1-1.5*IQR
    upper_bound=Q3+1.5*IQR
    min_value=dataset[column].min()
    max_value=dataset[column].max()
    return pd.Series({
        'Q1:25%':Q1,
        'Q3:75%':Q3,
        '1.5rule':1.5*IQR,
        'lesser':lower_bound,
        'Greater':upper_bound,
        'Min':min_value,
        'Max':max_value
    })

In [8]:
columns_to_describe=['sl_no','ssc_p','hsc_p','degree_p','etest_p','mba_p','salary']

In [9]:
descriptive_stats=pd.DataFrame({col:calculate_statistics(col) for col in columns_to_describe})

In [10]:
print(descriptive_stats)

         sl_no  ssc_p  hsc_p  degree_p  etest_p   mba_p    salary
Q1:25%    54.5  60.60  60.90      61.0    60.00  57.945  240000.0
Q3:75%   161.5  75.70  73.00      72.0    83.50  66.255  300000.0
1.5rule  160.5  22.65  18.15      16.5    35.25  12.465   90000.0
lesser  -106.0  37.95  42.75      44.5    24.75  45.480  150000.0
Greater  322.0  98.35  91.15      88.5   118.75  78.720  390000.0
Min        1.0  40.89  37.00      50.0    50.00  51.210  200000.0
Max      215.0  89.40  97.70      91.0    98.00  77.890  940000.0

In [11]:
descriptive_stats["hsc_p"]["Min"]<descriptive_stats["hsc_p"]["lesser"]

True

In [12]:
lesser=[]
Greater=[]
for columnName in quan:
    if(descriptive_stats[columnName]["Min"]<descriptive_stats[columnName]["lesser"]):
        lesser.append(columnName)
    if(descriptive_stats[columnName]["Max"]>descriptive_stats[columnName]["Greater"]):
        Greater.append(columnName)

NameError: name 'quan' is not defined

In [13]:
lesser

[]

In [14]:
Greater

[]

In [15]:
import numpy as np

In [16]:
for columnName in lesser:
    dataset[columnName][dataset[columnName]<descriptive_stats[columnName]["lesser"]]
for columnName in Greater:
    dataset[columnName][dataset[columnName]>descriptive_stats[columnName]["Greater"]]

In [17]:
descriptive_stats=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","99%","Q4:100%"],columns=quan)
for columnName in quan:
    descriptive_stats[columnName]["Mean"]=dataset[columnName].mean()
    descriptive_stats[columnName]["Median"]=dataset[columnName].median()
    descriptive_stats[columnName]["Mode"]=dataset[columnName].mode()[0]
    descriptive_stats[columnName]["Q1:25%"]=dataset.describe()[columnName]["25%"]
    descriptive_stats[columnName]["Q2:50%"]=dataset.describe()[columnName]["50%"]
    descriptive_stats[columnName]["Q3:75%"]=dataset.describe()[columnName]["75%"]
    descriptive_stats[columnName]["99%"]=np.percentile(dataset[columnName],99)
    descriptive_stats[columnName]["Q4:100%"]=dataset.describe()[columnName]["max"]
def calculate_statistics(column):
    Q1=dataset[column].quantile(0.25)
    Q3=dataset[column].quantile(0.75)
    IQR=Q3-Q1
    lower_bound=Q1-1.5*IQR
    upper_bound=Q3+1.5*IQR
    min_value=dataset[column].min()
    max_value=dataset[column].max()
    return pd.Series({
        'Q1:25%':Q1,
        'Q3:75%':Q3,
        '1.5rule':1.5*IQR,
        'lesser':lower_bound,
        'Greater':upper_bound,
        'Min':min_value,
        'Max':max_value
        })

NameError: name 'quan' is not defined

In [18]:
descriptive_stats

         sl_no  ssc_p  hsc_p  degree_p  etest_p   mba_p    salary
Q1:25%    54.5  60.60  60.90      61.0    60.00  57.945  240000.0
Q3:75%   161.5  75.70  73.00      72.0    83.50  66.255  300000.0
1.5rule  160.5  22.65  18.15      16.5    35.25  12.465   90000.0
lesser  -106.0  37.95  42.75      44.5    24.75  45.480  150000.0
Greater  322.0  98.35  91.15      88.5   118.75  78.720  390000.0
Min        1.0  40.89  37.00      50.0    50.00  51.210  200000.0
Max      215.0  89.40  97.70      91.0    98.00  77.890  940000.0

In [19]:
def calculate_statistics(column):
    Q1=dataset[column].quantile(0.25)
    Q3=dataset[column].quantile(0.75)
    IQR=Q3-Q1
    lower_bound=Q1-1.5*IQR
    upper_bound=Q3+1.5*IQR
    min_value=dataset[column].min()
    max_value=dataset[column].max()
    return pd.Series({
        'Q1:25%':Q1,
        'Q3:75%':Q3,
        '1.5rule':1.5*IQR,
        'lesser':lower_bound,
        'Greater':upper_bound,
        'Min':min_value,
        'Max':max_value
        })

In [20]:
columns_to_describe=['sl_no','ssc_p','hsc_p','degree_p','etest_p','mba_p','salary']

In [21]:
descriptive_stats=pd.DataFrame({col:calculate_statistics(col) for col in columns_to_describe})

In [22]:
print(descriptive_stats)

         sl_no  ssc_p  hsc_p  degree_p  etest_p   mba_p    salary
Q1:25%    54.5  60.60  60.90      61.0    60.00  57.945  240000.0
Q3:75%   161.5  75.70  73.00      72.0    83.50  66.255  300000.0
1.5rule  160.5  22.65  18.15      16.5    35.25  12.465   90000.0
lesser  -106.0  37.95  42.75      44.5    24.75  45.480  150000.0
Greater  322.0  98.35  91.15      88.5   118.75  78.720  390000.0
Min        1.0  40.89  37.00      50.0    50.00  51.210  200000.0
Max      215.0  89.40  97.70      91.0    98.00  77.890  940000.0

In [23]:
lesser=[]
Greater=[]
for columnName in lesser:
    dataset[columnName][dataset[columnName]<descriptive_stats[columnName]["lesser"]]
for columnName in Greater:
    dataset[columnName][dataset[columnName]>descriptive_stats[columnName]["Greater"]]

In [24]:
lesser

[]

In [25]:
Greater

[]

In [26]:
dataset["ssc_p"].value_counts().sort_index

<bound method Series.sort_index of 62.00    11
63.00    10
67.00     9
52.00     9
73.00     9
         ..
69.70     1
80.92     1
83.00     1
86.50     1
80.60     1
Name: ssc_p, Length: 103, dtype: int64>

In [27]:
freqTable=pd.DataFrame(columns=["Unique_Values","Frequency","Relative Frequency","Cusum"])

In [28]:
freqTable

Empty DataFrame
Columns: [Unique_Values, Frequency, Relative Frequency, Cusum]
Index: []

In [29]:
freqTable["Unique_Values"]=dataset["ssc_p"].value_counts().index
freqTable["Frequency"]=dataset["ssc_p"].value_counts().values
freqTable["Relative Frequency"]=(freqTable["Frequency"]/103)
freqTable["Cusum"]=freqTable["Relative Frequency"].cumsum()

In [30]:
freqTable

     Unique_Values  Frequency  Relative Frequency     Cusum
0            62.00         11            0.106796  0.106796
1            63.00         10            0.097087  0.203883
2            67.00          9            0.087379  0.291262
3            52.00          9            0.087379  0.378641
4            73.00          9            0.087379  0.466019
..             ...        ...                 ...       ...
98           69.70          1            0.009709  2.048544
99           80.92          1            0.009709  2.058252
100          83.00          1            0.009709  2.067961
101          86.50          1            0.009709  2.077670
102          80.60          1            0.009709  2.087379

[103 rows x 4 columns]

In [31]:
def freqTable(columnName,dataset):
    freqTable=pd.DataFrame(columns=["Unique_Values","Frequency","Relative Frequency","Cusum"])
    freqTable["Unique_Values"]=dataset[columnName].value_counts().index
    freqTable["Frequency"]=dataset[columnName].value_counts().values
    freqTable["Relative Frequency"]=(freqTable["Frequency"]/103)
    freqTable["Cusum"]=freqTable["Relative Frequency"].cumsum()
    return freqTable

In [32]:
freqTable("mba_p",dataset)

     Unique_Values  Frequency  Relative Frequency     Cusum
0            56.70          3            0.029126  0.029126
1            66.94          2            0.019417  0.048544
2            59.47          2            0.019417  0.067961
3            60.44          2            0.019417  0.087379
4            68.07          2            0.019417  0.106796
..             ...        ...                 ...       ...
200          67.00          1            0.009709  2.048544
201          64.27          1            0.009709  2.058252
202          57.65          1            0.009709  2.067961
203          59.42          1            0.009709  2.077670
204          60.22          1            0.009709  2.087379

[205 rows x 4 columns]

In [33]:
def Univariate(dataset,quan):
    descriptive_stats=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%",
                                          "Q2:50%","Q3:75%","99%","Q4:100%",
                                          "IQR","1.5rule","Lesser","Greater",
                                          "Min","Max"],columns=quan)
    
    for columnName in quan:
        descriptive_stats[columnName]["Mean"]=dataset[columnName].mean()
        descriptive_stats[columnName]["Median"]=dataset[columnName].median()
        descriptive_stats[columnName]["Mode"]=dataset[columnName].mode()[0]
        descriptive_stats[columnName]["Q1:25%"]=dataset.describe()[columnName]["25%"]
        descriptive_stats[columnName]["Q2:50%"]=dataset.describe()[columnName]["50%"]
        descriptive_stats[columnName]["Q3:75%"]=dataset.describe()[columnName]["75%"]
        descriptive_stats[columnName]["99%"]=np.percentile(dataset[columnName],99)
        descriptive_stats[columnName]["Q4:100%"]=dataset.describe()[columnName]["max"]
        descriptive_stats[columnName]["IQR"]=descriptive_stats[columnName]["Q3:75%"]-descriptive_stats[columnName]["Q1:25%"]
        descriptive_stats[columnName]["1.5rule"]=1.5*descriptive_stats[columnName]["IQR"]  
        descriptive_stats[columnName]["Lesser"]=descriptive_stats[columnName]["Q1:25%"]-descriptive_stats[columnName]["1.5rule"]
        descriptive_stats[columnName]["Greater"]=descriptive_stats[columnName]["Q3:75%"]-descriptive_stats[columnName]["1.5rule"]
        descriptive_stats[columnName]["Min"]=dataset[columnName].min()
        descriptive_stats[columnName]["Max"]=dataset[columnName].max()
    return descriptive_stats

In [34]:
Univariate(dataset,quan)

NameError: name 'quan' is not defined

In [36]:
def replacementoutlayer_lesser(dataset,lesser):
    for columnName in lesser:
        dataset[columnName][dataset[columnName]<descriptive_stats[columnName]["lesser"]]
def replacementoutlayer_greater(dataset,greater):
    for columnName in Greater:
        dataset[columnName][dataset[columnName]>descriptive_stats[columnName]["Greater"]]